@font-face {
	font-family: shabnam;
}



header {
	margin-top: 10px;

}


.img-logo {
	width: 100px;
	height: 100%;
	max-width: 150px;
}


.text {
	font-family: shabnam;
	color: #4a4a4a;
	direction: rtl;
	
}

.option  a {
	font-family: shabnam;
	color: #51c5a8;
	margin-left: 8px;
	margin-right: 3px;
	font-size: 16px;
	direction: rtl;

}


.background {
	background-image: url(img/4.jpg);
	width: 100px;
	height: 630px;
	margin-top: 10px;
	align-items: center;
	justify-content: center;
}



.card {
	width: 380px;
	height: 490px;
	margin-left: 20px;
    margin-right: 20px;
	margin-bottom: 40px;
	direction: rtl;

}


.card:hover {
	background-color: white;
	color: white;
	box-shadow: 0px 0px 10px 6px #E6E6FA;
}


.rounded-circle {
	height: 40px;
	width: 40px;
	border:2px solid white;
	margin-top: 20px;
	margin-left: 20px;
}


.card-text {
	font-family: shabnam;
	color: #4a4a4a;
	float: right;
	font-size: 15px;
	direction: rtl;
	
}


.card-title {
	font-family: shabnam;
	color: #51c5a8;
	font-size: 14px;
	float: right;
	direction: rtl;
}


.background-img {
	background-size: cover;
	height: 234px;
}
