@font-face {
	font-family: shabnam;
}



header {
	margin-top: 10px;

}


.img-logo {
	width: 100px;
	height: 100%;
	max-width: 150px;
}


.text {
	font-family: shabnam;
	color: #4a4a4a;
	
}

.option  a {
	font-family: shabnam;
	color: #51c5a8;
	margin-left: 8px;
	margin-right: 3px;
	font-size: 16px;

}


.background {
	background-image: url(img/4.jpg);
	width: 100px;
	height: 630px;
	margin-top: 10px;
	align-items: center;
	justify-content: center;
	position: 
}



.card {
	width: 374px;
	height: 444px;
	margin-left: 20px;
    margin-right: 20px;
	margin-bottom: 40px;
	

}


img ,card {
	height: 234px;
}


.card-text {
	font-family: shabnam;
	color: #4a4a4a;
	direction: rtl;
	
}