@font-face {
	font-family: shabnam;
}



header {
	margin-top: 10px;

}


.img-logo {
	width: 100px;
	height: 100%;
	max-width: 150px;
}


.text {
	font-family: shabnam;
	color: #4a4a4a;
	direction: rtl;
}


.header a:hover{
	color:#4a4a4a;
	text-decoration: none;
}


.option  a {
	font-family: shabnam;
	color: #51c5a8;
	margin-left: 8px;
	margin-right: 3px;
	font-size: 14px;
	direction: rtl;
}

.option a:hover {
	color: #51c5a8;
	text-decoration: none;
}


.background {
	background-image: url(img/4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100px;
	height: 630px;
	margin-top: 10px;
	align-items: center;
	justify-content: center;
}



.card {
	width: 390px;
	height: 490px;
	margin-left: 20px;
    margin-right: 20px;
	margin-bottom: 40px;
	direction: rtl;

}


.card:hover {
	background-color: white;
	color: white;
	box-shadow: 0px 0px 10px 6px #E6E6FA;
	text-decoration: none;
}


.rounded-circle {
	height: 40px;
	width: 40px;
	border:2px solid white;
	position: absolute;
	left: 10px;
	top: 10px;
}


.card-text {
	font-family: shabnam;
	color: #4a4a4a;
	float: right;
	font-size: 15px;
}


.card-title {
	font-family: shabnam;
	color: #51c5a8;
	font-size: 14px;
}


.background-img {
	background-size: cover;
	height: 234px;
}


.card-img-top {
	height: 234px;
}


.background-footer {
	background-color: #293951;
	height: 280px;
	padding: 60px;
}


.inputSearch {
	margin-top: 150px;
	width: 400px;
	height: 53px;
	font-family: shabnam;
	text-align: start;
	
}


.input-group-text {
	margin-top: 150px;
	width: 44px;
}


.insta , .twitter, .youtube, .aparat {
	background-color: white;
	width: 50px;
	height: 50px;
}


.insta-img, .twitter-img, .youtube-img, .aparat-img {
	width: 20px;
	height: 20px;
	position: relative;
	margin-top: 12px;
	margin-left: 7px;
	margin-right: 7px;
	color: #4a4a4a;
}


.text-footer {
	color: white;
	font-size: 12px;
	font-family: shabnam;
}


.backgroundStreets {
	background-image: url(img/street.jpeg);
	background-size: cover;
	height: 550px;
	background-repeat: no-repeat;
	
}


.textPadding {
	padding-left: 110px;
	padding-right: 110px;
}


.textBoldPage {
    font-family: shabnam;
}


.imgTopkhone, .sardarBaqemeli, .squareHasanabad, .rahAhanSquare, .taatrShahr, .baqFerdos, .lalehZar, .grandHotel, .lalehzarLamp, .naserKhoasro, .shamsol {
	width: 880px;
	height: 510px;
}